body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    overflow: hidden;
    scroll-behavior: unset;
    background-color: rgb(254, 253, 252);
  }
  
  .container {
    width: 100%;
    height: 74vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
  }
  
  .form-container {
    width: 400px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  h2 {
    width: 40%;
    height: 200px;
  }
  
  .navbar {
    position: sticky;
    width: 30;
    height: 24;
  }
  
  .navbar img {
    max-width: 100px;
    max-height: 50px;
    margin-left: 50px;
    margin-top: 10px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: flex;
    font-weight: bold;
    margin-bottom: 3px;
  }
  
  .form-group input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group button {
    width: 100%;
    height: 40%;
    padding: 10px;
    background-color: #039db5;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-group button:hover {
    background-color: #2fb5ea;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .logo img {
    max-width: 100px;
  }
  
  .show {
    top: 6px;
  }
  [type-checkbox] {
    padding: 0;
  }
  
  .capt {
    width: 250px;
    height: 50px;
    margin: 10px;
    border: 1px solid;
    background-color: rgb(247, 247, 247);
    border-radius: 2px;
    box-shadow: #ccc;
  }
  
  input.bigcheckbox {
    height: 25px;
    width: 25px;
    margin: 12px;
  }
  
  .cap img {
    max-width: 100px;
    max-height: 50px;
    float: right;
  }
  
  .main {
    margin: 285px;
    text-align: center;
    font-size: 50px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .user-data {
    margin-right: 20px;
  }
  
  .userimg {
    margin-left: 1200px;
    margin-top: 10px;
  }
  
  hr {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -16px #039db5 inset;
  }