<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="user-auth.component.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- <script src="login.js"></script> -->
    <title>Login</title>
    <script>
      const urlParams = new URLSearchParams(window.location.search);
      const firstName = urlParams.get("firstName");
      const lastName = urlParams.get("lastName");
      console.log(firstName);

      function RememberMe() {
        sessionStorage.setItem("firstName",JSON.stringify(firstName));
        sessionStorage.setItem("lastName", JSON.stringify(lastName));
      }

      function myFunction() {
        var x = document.getElementById("password");
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
      }
    </script>
  </head>

  <body>
    <div>
      <app-display-header></app-display-header>
    </div>
    <div class="container">
      <div class="form-container">
        <div class="logo">
          <img src="https://cdn.cmcd1.com/logos/company_logo.png" alt="Logo" />
        </div>
        <form id="loginForm" action="/login" method="post"> 
          <div class="form-group">
            <label for="username">Email</label>
            <input  [(ngModel)]="username" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input  [(ngModel)]="password" placeholder="Password">

            <div style="display: flex">
              <div style="width: 180px"></div>
              <div style="margin: 10px 6px 6px 6px">
                <input
                  style="width: 50px; height: 20px"
                  type="checkbox"
                  onclick="myFunction()"
                />
              </div>
              <div style="padding: 15px">Show Password</div>
            </div>
          </div>
          <p>
            <span
              ><input
                type="checkbox"
                id="rememberMe"
                onclick="RememberMe()" /></span
            >Remember Me
          </p>
           <div class="capt" style="display: flex">
            <div><input type="checkbox" class="bigcheckbox" /></div>
            <div style="padding: 15px">I'm not a robot</div>
            <div class="cap">
              <img src="captcah.png" alt="" srcset="" />
            </div>
          </div> 
          <div class="form-group">
            <button (click)="login(); dataSave();"
          >Submit</button>
          </div>
          <div class="frgtpass"><a href="#">Forgot Password?</a></div>
          <div id="error-message" style="color: red"></div>
        </form>
        <!-- <form (ngSubmit)="login(username.value, password.value)"> -->
          <!-- <input  [(ngModel)]="username" placeholder="Username">
          <input  [(ngModel)]="password" placeholder="Password">
          <button (click)="login()"
          >Login</button> -->
        <!-- </form> -->
      </div>
    </div>  
       <app-display-footer></app-display-footer>
  </body>
</html>
