* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.setfullbody {
    width: 100vw;
    height: 100vh;
}

.setheaderapp {
    width: inherit;
    height: 8vh;

}

.loginmidcomclass {
    height: 83vh;
    display: flex;
    justify-content: center;
    align-content: center;

}
#showbutton{
    font-size: small;
    font-weight:normal;
    cursor: pointer;
    
}

#showbutton:hover{
    font-weight: bold;
}
.setfotterapp {
    width: inherit;
    height: 9vh;
}

.appfootercls {
    height: inherit;
    width: inherit;
}

.fromformat {
    width: 40%;
    height: 65%;
    margin: auto;
    box-shadow: 1.5px 1.5px 5px rgba(0, 0, 0, 0.3);

}

.imgformatcls {
    height: 54px;

}

.flexClass {
    display: flex;
    justify-content: center;
    align-content: center;
}

.buttoncls {
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    background-color: rgb(65, 224, 236);
    border-radius: 5px;
    height: 3.5rem;
}

.customForm {
    height: 90%;
    width: 90%;
    margin: 1rem auto;
    line-height: 1.5rem;
}

.inputClass {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
}

.flexcolumn {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.chcekBOXcls {
    margin-left: 10px;
}

.fromIterm {
    margin: 1.5rem;
}


.forgetpasscls {

    display: block;
    text-align: start;
    color: rgb(65, 224, 236);

}
  @media only screen and (min-width: 1129px) {
    .fromformat{
      width: 550px;
    }
  
  

} 
  @media only screen and (min-width: 800px) {
    .fromformat{
      width: 550px;
    }
  
  

} 
  @media only screen and (min-width: 300px) and (max-width: 799px){
    .fromformat{
      width: 80%;
    }
  
  

} 
.errormsgcls{
    color: red;
}