<div class="setfullbody">
    <div class="setheaderapp">
        <app-header></app-header>
    </div>
    <div class="loginmidcomclass">
        <div class="fromformat">
            <div class="customForm">
                <div class="flexClass fromIterm" >
                    <img src="https://cdn.cmcd1.com/logos/company_logo.png" alt="company logo" class="imgformatcls">
                </div>
                <div class="fromIterm">
                    <div>
                            <label for="emailid">Email</label>
                    </div>
                    <div>
                        <input type="email" id="emailid" class="inputClass" required name="email">
                    </div>
                </div>
                <div  class="fromIterm">
                    <div class="flexcolumn">
                        <div>
                             <label for="passwordid">Passowrd</label>
                        </div>
                        <div id="showbutton" (click)="togglePasswordVisibility()">
                            Show       
                        </div>
                    </div>
                    <div>
                        <input type="password" id="passwordid" class="inputClass" required  name="password">
                    </div>
                </div>
                <div class="fromIterm ">
                    <div class="">
                        <input type="checkbox" id="checkbox" required  name="Rememberbool">
                        <label for="checkbox" class="chcekBOXcls">Remember me</label>
                    </div>
    
                </div>
                <div class="fromIterm errormsgcls">
                    {{ emptyFieldsMessage }}
                    {{errorMessage}}
                </div>
                <div class=" flexClass fromIterm margincls">
                   <button class="buttoncls" (click)="action()">Submit</button>       
                </div>
                <div class="forgetpasscls fromIterm margincls">
                    Forgot Password?
                </div>  
            </div>
        </div>
        
    </div>
    <div class="setfotterapp">
        <app-footer class="appfootercls"></app-footer>
    </div>
</div>