<div class="setheadersize flexcls">
    <div>
        <img src="https://cdn.cmcd1.com/logos/company_logo.png" alt="company logo" class="companyImgset">
    </div>
    <div class="marginright">
        <div class="userProfile flexcls" *ngIf="usersessionboolcheck">
            <div class="marginright">
                <img src={{userdefaultIMG}} alt="user img" class="userimgcls">
            </div>
            <div class="flexcolumncls">
                <div>{{userOriganlData.username}}</div>
                <div>creditBalance : {{userOriganlData.creditBalance}}</div>
            </div>
        </div>
    </div>
</div>
