*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.companyImgset{
    height: 55px;
    margin: 9px 0px 0px 48px;
}
.setheadersize{
    height: 8vh;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.userimgcls{
    height: 50px;
}
.flexcls{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexcolumncls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.marginright{
    margin-right: 10px;
}